@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/scss/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/scss/fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}
